.main__star {
    width: 500px;
    height: 500px;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

// Probando el mixin
@include mediaQuery(mobil-peke) {
    .main {
        justify-content: center;
        align-items: flex-start;
    }
    .main__star {
        width: 100px;
        height: 100px;
    }
}

@include mediaQuery(ipad) {
    .main {
        justify-content: flex-end;
        align-items: flex-start;
    }
    .main__star {
        width: 100px;
        height: 100px;
    }
}

@include mediaQuery(escritorio) {
    .main {
        justify-content: center;
        align-items: flex-start;
    }
    .main__star {
        width: 100px;
        height: 100px;
    }
}