body {
    padding: 20px;
}

.main__star {
    width: 500px;
    height: 500px;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

// Probando el mixin
@include mediaQuery(mobil-peke) {
    .main {
        width: 100vw;
        justify-content: center;
        align-items: flex-start;
    }
    .main__star {
        width: 100px;
        height: 100px;
    }
    .main__logo {
        font-size: 50px;
    }
}

@include mediaQuery(ipad) {
    .main {
        justify-content: flex-end;
        align-items: flex-start;
    }
    .main__star {
        width: 100px;
        height: 100px;
    }
    .main__logo {
        font-size: 50px;
    }
}

@include mediaQuery(escritorio) {
    .main {
        justify-content: start;
        align-items: baseline;
    }
    .main__star {
        width: 100px;
        height: 100px;
    }
    .main__logo {
        font-size: 100px;
    }
}